<div class="video-preview">
    <a target="_blank" href="https://www.youtube.com/watch?v={{videoId}}">
        <img class="video-thumbnail" src="{{thumbnailUrl}}" alt="{{title}}"/>
    </a>
    <a class="video-title" target="_blank" href="https://www.youtube.com/watch?v={{videoId}}">
        {{title}}
    </a>
    <div class="publication-date">
        Published {{publicationDate}}
    </div>
</div>
